@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input,
  textarea {
    @apply border border-gray-400 rounded-md p-1 outline-theme-orange/50;
  }
  input:disabled,
  textarea:disabled {
    @apply bg-gray-200;
  }

  button {
    @apply boton-default;
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }

  h4 {
    @apply text-base;
  }

  h5 {
    @apply text-sm;
  }

  body {
    @apply bg-gray-100;
  }
}

@layer components {
  .boton-default {
    @apply bg-theme-orange px-2 py-1 rounded-md text-white;
  }

  .boton-error {
    @apply boton-default bg-theme-red;
  }

  .boton-guardar {
    @apply boton-default bg-theme-green;
  }

  .boton-eliminar {
    @apply boton-default bg-theme-red;
  }

  .theme-full-dark-blur {
    @apply fixed w-screen h-screen backdrop-blur-sm z-50 top-0 left-0 bg-black/20;
  }
}
